@import "../../styles/variables";

   .btn {
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    margin: $m-medium;

   
    cursor: pointer;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    transition: all .2s;
    text-transform: uppercase;
    
    &--green {
        background-color: $color-lime-green;
        color: $black-color;

        &:hover {
            background-color: $black-color;
            color: $defaultColor;
        }
    }

    &--transparent {
        background-color: $defaultColor;
        color: $black-color;
        border: 0.2px solid $color-dark-green;

        &:hover {
            background-color: $color-lime-green;
            color: $black-color;
          
        }
    }
       
    
        
  
    }




