$defaultColor: rgb(255, 255, 255);
$color-lime-green: rgb(0, 219, 0);
$color-dark-green: rgb(0, 178, 0);
$color-light-grey:rgb(216, 216, 216);
$color-grey: rgb(167, 167, 167);
$black-color:rgb(30, 30, 30);

$font-default: Poppins,ui-sans-serif,system-ui,sans-serif;

$m-small: 1rem;
$m-medium: 2.5rem;
$m-large: 3.5rem;
$m-xtra-large: 10rem;

