:root {
    --color-default:rgb(255, 255, 255);
    --color-lime-green:rgb(0, 219, 0);
    --color-dark-green: rgb(0, 178, 0);
    --color-light-grey: rgb(216, 216, 216);
    --color-grey: rgb(167, 167, 167);
    --color-black:rgb(30, 30, 30);
}

$shadow: 0 0 3px rgba(0, 0, 0, 0.2);

$font-default: Poppins, ui-sans-serif, system-ui, sans-serif;

$m-small: 1rem;
$m-medium: 2.5rem;
$m-large: 3.5rem;
$m-xtra-large: 10rem;

body {
  background-color: var(--color-default);;
}

body.dark {
  background-color: var(--color-black);
  color:var(--color-default);
}
