@import "../../styles/variables";

.container__skills {
  display: flex;
  flex-direction: column;
  margin: $m-large 0;

  &-heading-text {
    text-align: center;
    font-size: 4rem;
  
    &-italic {
        font-style: italic;
        font-size: 4.5rem;
        font-weight: 200;
        color: var(--color-dark-green);

    }
  }

  &-items {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    height: auto;
    padding: 1rem;
    margin: 0 auto;

    &-frontend-icon,
    &-backend-icon,
    &-others-icon {
      display: flex;
      justify-content: center;
    }
  }

  &-list {
    
    background-color: transparent;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: $shadow;
    border: 1px solid var(--color-dark-green);

    &-item-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > img {
        width: 8%;
      }

      & > p {
        margin-left: 1rem;
      }
    }
  }

  &-list > * {
    list-style: none;
    margin: 1rem;
    font-size: 1.6rem;
    align-items: center;
  }
}
