@import "../../../styles/variables";

.timeline {
  display: flex;
  flex-direction: column;

  &__heading-italic {
    text-align: center;
    font-style: italic;
    font-size: 5.5rem;
    font-weight: 200;
    color: var(--color-dark-green);
    margin: 2rem 0;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 90vw;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    grid-template-rows: 1fr auto;
    font-family: $font-default;
    color: var(--color-black);

    @media only screen and (max-width: 600px) {
      max-width: 90vw;
      padding: 1.5rem;
      grid-template-columns: 1fr 3px 0fr;
    }
  }
}
