@import "../../styles/variables";


.container__nav {
    display: flex;
    flex-wrap: wrap;
    
    &--btn {
        display: flex;
        flex-direction: row;
        border: 1.5px solid $defaultColor;
        font-size: 1.6rem;
        background-color: $defaultColor;
        color: $color-dark-green;
        cursor: pointer;
        
        &:not(:last-child),
        &:not(:first-child){
            margin: 1.5rem;
        }

        &:hover {
            border-bottom: 1.5px solid $color-dark-green;
        }

        &:visited {
            border-bottom: 1.5px solid $color-dark-green;
            background-color: $color-lime-green;;
        }
    }

}