@import "../../styles/variables";


.container__nav {
    display: flex;

    &--btn {
        display: flex;
        flex-direction: row;
        border: none;
        font-size: 1.6rem;
        background-color: $defaultColor;
        color: $color-dark-green;
        cursor: pointer;
        
        &:not(:last-child),
        &:not(:first-child){
            margin: 1.5rem;
        }
    }

}