@import "../../styles/variables";

.modal__background {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1rem);
  position: fixed;
  overflow: auto;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;

  &--container {
    width: 40vw;
    height: 50vh;
    border-radius: 3rem;
    background-color: white;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    @media only screen and (min-width: 1020px) {
      width: 40vw;
      height: auto;
      padding: 1.5rem;
  }

    @media only screen and (max-width: 990px) {
      width: 70vw;
      height: auto;
      padding: 1rem;
  }


    

    &-title {
      display: inline-block;
      text-align: center;
      font-size: 2rem;
      &-span {
        color: $color-dark-green;
        font-style: italic;
        font-weight: 400;
      }
      &-name {
        color: $color-dark-green;
        font-weight: 400;
      }
    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 1.6rem;
      font-weight: 600;
      padding: 0.5rem;
      align-items: center;
      justify-items: center;

      @media only screen and (max-width: 560px) {
          flex-direction: column;
          align-items: flex-start;
          margin: 0 auto;
      }

      &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-location,
        &-email {
          margin: 0.5rem;
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-linkedin,
        &-github {
          margin: 0.5rem;
        }
      }
    }

    &-footer {
        flex: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn {
            width: 15rem;
            height: 4.5rem;
            margin: 1rem;
            border: none;
            background-color: cornflowerblue;
            color: white;
            border-radius: 0.8rem;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    &--close {
      display: flex;
      justify-content: flex-end;
        &-btn {
            background-color: transparent;
            border: none;
            font-size: 2.5rem;
            cursor: pointer;
            padding: 0.5rem;
        }
    }
  }
}

.modal__btn {
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

}
