@import "../../styles/variables";

.container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $defaultColor;
    align-items: center;
    min-height: 40vh;
    margin-bottom: $m-large;

   
    &__image {
        width: 20rem;
        height: 20rem;
        margin: $m-large $m-small;
        transform: translateY(15%) scale(1);
        backface-visibility: hidden;
    }


    &__image-profile {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $color-dark-green;
        transition: all .2s;
        cursor: pointer;  

        &:hover {
            transform: translateY(-15%) scale(1.3);
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &--heading {
            margin: 3rem 0;
        }
        
    }

    &__header--text {
        width: 60vw;
        font-size: 1.6rem;
        margin-bottom: $m-large;

    }

    &__header--btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
    &__header {
        font-size: 2.5rem;
    }

    &__header--italic {
        font-style: italic;
        font-size: 5.5rem;
        font-weight: 200;
        color: $color-dark-green;

    }



}