@import "../../../styles/variables";


.container__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    
    margin: $m-xtra-large $m-large;
    grid-gap: 4rem;
  
}