@import "../../../styles/variables";

.container__projects {
  // display: grid;
  // grid-template-rows: 1fr repeat(auto-fit, minmax(30rem, 1fr));

  // margin: $m-large;
  // grid-gap: 4rem;

  &-heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem;

    &--italic {
      font-style: italic;
      font-size: 4.5rem;
      font-weight: 200;
      color: var(--color-dark-green);
    }
  }

  &--items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    padding: 2rem 3rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 1fr)
      ); // Adjusts dynamically for medium screens
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Switches to 1 item per row on smaller screens
    }
  }
}
