@import "../../../styles/variables";

.project__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap:4rem;
  margin: 2rem;
  padding: 2rem;
  border: 2px solid var(--color-dark-green);
  border-radius: 4rem;
  box-shadow: $shadow;

  &--heading {
    font-size: 4rem;
    margin-bottom: $m-medium;
  }

  &--picture {
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.2s;
      transform: scale(1);
      border-radius: 4rem;


      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.6rem;

    &-techstack {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
     
    }


  }

  &-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
  }
}