@import "../../../styles/variables";

.project__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 2rem;

  &--heading {
    font-size: 5rem;
  }


  &--picture {
    width: 100%;
    

    &-img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin: 0.5rem;
      cursor: pointer;
      transition: all 0.2s;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.6rem;

    &-techstack {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 50vw;
    }


  }

  &-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
  }
}