@import "../../styles/variables";


.chip__container {
    border-radius: 40rem;
    padding: 0.7rem;
    margin: 0.7rem;
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-size: 1.4rem;
    width: max-content;
    align-items:center;
   

    &-name {   
        min-width: fit-content;
        padding: 0 1rem;
       
    }

}