@import '../src/styles/variables';

*,
*::after,
*::before  {
  padding: 0;
  margin: 0;
  font-family: $font-default;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  height: 100vh;
  color: $color-dark-green;
  background-color:$defaultColor;
  font-weight: 600;
  font-size: 1.6rem;
}