@import '../src/styles/variables';

*,
*::after,
*::before  {
  padding: 0;
  margin: 0;
  font-family: $font-default;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  //background-color: $black-color;
}


